
#ContenedorPortada{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 90%;
    @media(min-width: 600px){
        width: 100%;
        margin-bottom:0%;
        display: flex;
        flex-direction: column;
    }

}
.ImgCabecera{
   height: 350px;
}




.FuenteCabecera{
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;;
    font-size: 2.5em;
    color:white;
} 

p{
    animation-duration: 3s;
    animation-name:slidein ;
}
@keyframes slidein{
    from{
        margin-left: 100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}



/*Foto Portada*/

.PresentacionFoto{
    padding: 58px 0px 40px 0px;
    display:flex;
    justify-content: center;
    
}