
#Datos{
    text-align: left;
}

.contenedorMe,.contenedorExperiencia, .contenedorAptitudes,.contenedorContacto,.contenedorFormacion{
    display: flex;
    justify-content: center;
    margin: 10%;
    margin-bottom: 10%;
    
}
#me,#experiencia ,#contacto,#aptitudes,#formacion{
    background-color:rgba(0, 0, 253, 0.2) ;
    width: 40%;
    padding: 15%;
}


/*ESTILOS DE LETRAS*/
.titulo{
    font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(17, 17, 99, 0.658);
    -webkit-moz-font-feature-settings: "dlig","ss01";
    @media(min-width:600px) {
        font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
        font-size: 35px;
        color: rgba(101, 101, 238, 0.7);
        -webkit-moz-font-feature-settings: "dlig","ss01";
        
    }
}
.letrasContenido{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    color: azure;
    font-size:14px ;
    line-height:150%;
    @media(min-width:600px) {
        font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
        color: azure;
        font-size:20px ;
        line-height:150%;
        
    }
    
}


/*para la Presentacion*/
.contenedorPresentacion{
    display: flex;
    background-color: rgba(0,250,0,0.2);
    width: 50%;
    height: 350px;
    
}
#ParteIzquierda{
    width: 100%;
    display: flex;
    align-items: center;
    
     
}
#ParteIzquierda img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#ParteDerecha{
    width: 100%;
    margin: 20px;
    padding:0%;
}
#ParteDerecha p{
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    object-fit: cover;
    color: rgba(131, 210, 210, 0.607);    
}

/*Logos de enlace*/
.Contactos{
    position: relative ;
    top: 180px;
}

.git,.fb,.insta,.whats{
    width: 3%;
    margin: 5%;
    transition: width 1s;
}
.git:hover{
    width: 4%;
    color: rgb(200, 189, 189);
    box-shadow: 5px 5px 25px 0px ;
    
    /*transform: scale(1.5);*/
    
}
.fb:hover{
    width: 4%;
    color: rgb(71, 71, 148);
    box-shadow: 0px 10px 15px 0px ;
    
}
.insta:hover{
    width: 4%;
    color: rgb(163, 122, 157);
    box-shadow: 0px 10px 15px 0px ;
    
}
.whats:hover{
    width: 4%;
    color: rgb(84, 120, 49);
    box-shadow: 0px 10px 15px 0px ;
    
}

/*PIE DE PAGINA*/
.Pie_pagina{
    background-color: azure;
    display: flex;
    justify-content: space-around;
}

/*Boton de Descarga de Cv*/
.Boton-descarga{
    display: flex;
    justify-content: end;
}
.Boton-descarga button:hover{
    background: rgb(163, 51, 51);
}
.Boton-descarga button{
    position: fixed;
}